In [1]:
# # 1. Разобраться как использовать мультииндексные ключи в данном примере
# index = [
#     ('city_1', 2010),
#     ('city_1', 2020),
#     ('city_2', 2010),
#     ('city_2', 2020),
#     ('city_3', 2010),
#     ('city_3', 2020),
# ]

# population = [
#     101,
#     201,
#     102,
#     202,
#     103,
#     203,
# ]
# pop = pd.Series(population, index = index)
# pop_df = pd.DataFrame(
#     {
#         'total': pop,
#         'something': [
#             10,
#             11,
#             12,
#             13,
#             14,
#             15,
#         ]
#     }
# )

# ???? ## pop_df_1 = pop_df.loc???['city_1', 'something']
# ???? ## pop_df_1 = pop_df.loc???[['city_1', 'city_3'], ['total', 'something']]
# ???? ## pop_df_1 = pop_df.loc???[['city_1', 'city_3'], 'something']



import pandas as pd

index = [
    ('city_1', 2010),
    ('city_1', 2020),
    ('city_2', 2010),
    ('city_2', 2020),
    ('city_3', 2010),
    ('city_3', 2020),
]
population = [
    101,
    201,
    102,
    202,
    102,
    203,
]

multi_index = pd.MultiIndex.from_tuples(index)
pop = pd.Series(population, index=multi_index)
print(pop)

pop_df = pd.DataFrame(
    {
        'total': pop,
        'something': [
            10,
            11,
            12,
            13,
            14,
            15,
        ]
    }
)
print(pop_df)

pop_df_1 = pop_df.loc['city_1', 'something']
print(pop_df_1)
pop_df_1 = pop_df.loc[['city_1', 'city_3'], ['total', 'something']]
print(pop_df_1)
pop_df_1 = pop_df.loc[['city_1', 'city_3'], 'something']
print(pop_df_1)

city_1  2010    101
        2020    201
city_2  2010    102
        2020    202
city_3  2010    102
        2020    203
dtype: int64
             total  something
city_1 2010    101         10
       2020    201         11
city_2 2010    102         12
       2020    202         13
city_3 2010    102         14
       2020    203         15
2010    10
2020    11
Name: something, dtype: int64
             total  something
city_1 2010    101         10
       2020    201         11
city_3 2010    102         14
       2020    203         15
city_1  2010    10
        2020    11
city_3  2010    14
        2020    15
Name: something, dtype: int64

In [2]:
# 2. Из получившихся данных выбрать данные по 
# - 2020 году (для всех столбцов)
# - job_1 (для всех строк)
# - для city_1 и job_2 


import pandas as pd

index = pd.MultiIndex.from_tuples([
    ('city_1', 2010, 'job_1'),
    ('city_1', 2010, 'job_2'),
    ('city_1', 2020, 'job_1'),
    ('city_1', 2020, 'job_2'),
    ('city_2', 2010, 'job_1'),
    ('city_2', 2010, 'job_2'),
    ('city_2', 2020, 'job_1'),
    ('city_2', 2020, 'job_2'),
    ('city_3', 2010, 'job_1'),
    ('city_3', 2010, 'job_2'),
    ('city_3', 2020, 'job_1'),
    ('city_3', 2020, 'job_2'),
], names=['city', 'year', 'job'])

population = [101, 102, 201, 202, 103, 104, 203, 204, 105, 106, 205, 206]
pop = pd.Series(population, index=index)
pop_df = pd.DataFrame(
    {
        'total': pop,
        'something': [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
    }
)

print(pop_df)

                   total  something
city   year job
city_1 2010 job_1    101         10
            job_2    102         11
       2020 job_1    201         12
            job_2    202         13
city_2 2010 job_1    103         14
            job_2    104         15
       2020 job_1    203         16
            job_2    204         17
city_3 2010 job_1    105         18
            job_2    106         19
       2020 job_1    205         20
            job_2    206         21

In [3]:
pop_2020 = pop_df.xs(2020, level='year')
print(pop_2020)

              total  something
city   job
city_1 job_1    201         12
       job_2    202         13
city_2 job_1    203         16
       job_2    204         17
city_3 job_1    205         20
       job_2    206         21

In [4]:
pop_job_1 = pop_df.xs('job_1', level='job')
print(pop_job_1)

             total  something
city   year
city_1 2010    101         10
       2020    201         12
city_2 2010    103         14
       2020    203         16
city_3 2010    105         18
       2020    205         20

In [5]:
pop_city1_job2 = pop_df.loc[('city_1', slice(None), 'job_2')]
print(pop_city1_job2)

      total  something
year
2010    102         11
2020    202         13

In [6]:
# 3. Взять за основу DataFrame со следующей структурой
# index = pd.MultiIndex.from_product(
#     [
#         ['city_1', 'city_2'],
#         [2010, 2020]
#     ],
#     names=['city', 'year']
# )
# columns = pd.MultiIndex.from_product(
#     [
#         ['person_1', 'person_2', 'person_3'],
#         ['job_1', 'job_2']
#     ],
#     names=['worker', 'job']
# )
# 
# Выполнить запрос на получение следующих данных
# - все данные по person_1 и person_3
# - все данные по первому городу и первым двум person-ам (с использование срезов)
#
# Приведите пример (самостоятельно) с использованием pd.IndexSlice

In [7]:
import pandas as pd
import numpy as np

index = pd.MultiIndex.from_product([['city_1', 'city_2'], [2010, 2020]], 
    names=['city', 'year'])

columns = pd.MultiIndex.from_product(
[['person_1', 'person_2', 'person_3'], ['job_1', 'job_2']], 
    names=['worker', 'job'])

data = np.random.randint(1, 100, size=(len(index), len(columns)))
df = pd.DataFrame(data, index=index, columns=columns)

print(df)

worker      person_1       person_2       person_3
job            job_1 job_2    job_1 job_2    job_1 job_2
city   year
city_1 2010        1    45       43    96        4    85
       2020       32    25       20    73       28     3
city_2 2010       53    80       30    62       33    35
       2020       46    58       59    46       63    36

In [8]:
df_persons = df.loc[:, ['person_1', 'person_3']]
print(df_persons)

worker      person_1       person_3
job            job_1 job_2    job_1 job_2
city   year
city_1 2010        1    45        4    85
       2020       32    25       28     3
city_2 2010       53    80       33    35
       2020       46    58       63    36

In [9]:
df_city1_persons = df.loc['city_1', 'person_1':'person_2']
print(df_city1_persons)

worker person_1       person_2
job       job_1 job_2    job_1 job_2
year
2010          1    45       43    96
2020         32    25       20    73

In [10]:
idx = pd.IndexSlice
df_slice = df.loc[idx[:, :], idx[['person_1', 'person_3'], :]]
print(df_slice)

worker      person_1       person_3
job            job_1 job_2    job_1 job_2
city   year
city_1 2010        1    45        4    85
       2020       32    25       28     3
city_2 2010       53    80       33    35
       2020       46    58       63    36

In [11]:
#4. Привести пример использования inner и outer джойнов для Series (данные примера скорее всего нужно изменить)
# ser1 = pd.Series(['a', 'b', 'c'], index=[1,2,3])
# ser2 = pd.Series(['b', 'c', 'f'], index=[4,5,6])

# print (pd.concat([ser1, ser2], join='outer'))
# print (pd.concat([ser1, ser2], join='inner'))

In [12]:
import pandas as pd

ser1 = pd.Series(['a', 'b', 'c'], index=[1, 2, 3])
ser2 = pd.Series(['d', 'e', 'f'], index=[3, 4, 5])

print("ser1:\n", ser1)
print("\nser2:\n", ser2)

ser1:
 1    a
2    b
3    c
dtype: object

ser2:
 3    d
4    e
5    f
dtype: object

In [13]:
outer_join = pd.concat([ser1, ser2], axis=1, join='outer')
print("\nOuter Join:\n", outer_join)

Outer Join:
      0    1
1    a  NaN
2    b  NaN
3    c    d
4  NaN    e
5  NaN    f